

.card h1 img {
  width:30px;
}

.card-image {
  float:left;
  height:100px;
}

.card {

}

.card-title {
  /*TODO: ALT TEXT, LIMIT LENGTH WITH ...*/
}
}
.card-text {
}

.trade-window {
  min-height: 600px;
}

#user-search-input {
  max-width:200px;
}

.right-holder .input-group {
  max-width:150px;
}

.trade-window {
  border: 1px solid black;
}

.nobr {
  white-space: nowrap;
}