@media (min-width: 768px) {
}

/* search bar */
#search-bar-holder {
  max-width:330px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* card search list holder */
.left-holder > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* wrapper for main contents of page */
#mainWrap {
  max-width:1028px;
}

/*mana icons on search results*/
.card .mana-cost img {
  width:30px;
}
/*mana icons on cards in user bins*/
.cardBin .mana-cost img {
  width:20px;
}

/* user bin stuff */
.trade-window {
  width:50%;
  min-height:500px;
}
.card-image-bin {
  max-height:100px;
}
.cardBin .card-title {
  font-weight:bold;
  font-size:1.2em;
}
.cardBin .card-total {
}
/* margin on clear button for the two trade bins */
.trade-window.left .info {
  margin-right:10px;
}
.trade-window.right .info {
  margin-left:10px;
}
/* other styling for headers on trade bins */
.trade-window .info {
}
.trade-window.left h3 {
  float:left;
}
.trade-window.left .info {
  float:right;
}
.trade-window.right h3 {
  float:right;
}
.trade-window.right .info {
  float:left;
}
.trade-window.left {
  float:left;
  border-right: 2px solid grey;
}
.trade-window.right {
  float:right;
  border-left: 2px solid grey;
}
.trade-window-header {
  border-bottom:4px solid grey;
}
.trade-window-header > * {
    margin-bottom:5px;
}
.trade-window-header button {
  margin-top: -5px;
}
.panel-heading .title {
  display:inline-block;
}
.cardBin .cardBinForm {
  max-width:120px;
  margin-top:5px;
}
/* end user bin stuff */

/* user input on search form results for quantity and value */
.right-holder .input-group {
  max-width:120px;
}

.card-title {
  /*TODO: limit length, set alt text in html with javascript */
}
.card-text {
}

/* header stuff */
#navbarbrand a{
  font-size:34px;
  text-decoration: none;
  color: #331400;
}

#navbarbrand a:hover{
  text-decoration: none;
  color: #331400;
}
/* end header stuff */

/* utility classes */
.nobr {
  white-space: nowrap;
}

.clear {
  clear:both;
}