
<script id="card-template" type="text/x-handlebars-template">
  <li class="cardBin list-group-item" data-id="{{id}}" data-index="{{index}}">  
    <img class="card-image-bin" src="{{#each editions}}{{#if active}}{{image_url}}{{/if}}{{/each}}">
    <h3><span class="card-title">{{name}}</span>&nbsp;&nbsp;<span class="mana-cost nobr">{{{cost}}}</span></h3>
    <h4>{{#each editions}}{{#if active}}{{set}}  ({{rarity}}){{/if}}{{/each}}</h4>
    <h4>{{quantity}}x valued at ${{value}}, {{totalVal}} total</h4>
    <button type="button" class="btn btn-danger deleteCardButton">Remove</button>
    <button type="button" class="btn btn-default editCardButton">Edit</button>
    <span class="cardBinForm" style="display:none">
      <button type="button" class="btn btn-default cancelEditCardButton">Cancel</button>
      <div class="input-group value-form">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control value-input" value="{{value}}">
      </div>
      <div class="input-group quantity-form">
        <span class="input-group-addon">x</span>
        <input type="number" class="form-control quantity-input" value="{{quantity}}">
      </div>
    </span>
  </li>
</script>

<script id="card-template-advanced" type="text/x-handlebars-template">
  <li class="card list-group-item" data-id="{{id}}">
    <div class="row">
      <div class="col-md-8 left-holder">
        <img class="card-image" src="{{#each editions}}{{#if active}}{{image_url}}{{/if}}{{/each}}">
        <h1><span class="card-title">{{name}}</span>&nbsp;&nbsp;<span class="mana-cost nobr">{{{cost}}}</span></h1>
        <h4>{{type}}</h4>
        <p class="card-text">{{text}}&nbsp;</p>
      </div>
      <div class="col-md-4 right-holder">
        <div class="input-group value-form">
          <span class="input-group-addon">$</span>
          <input type="number" class="form-control value-input" placeholder="value">
        </div>
        <div class="input-group quantity-form">
          <span class="input-group-addon">x</span>
          <input type="number" class="form-control quantity-input" placeholder="Quantity" value="1">
        </div>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default addButton" data-character="jaya">Add to <span class="addButton-name-jaya" spellcheck="false" data-for="jaya">{{jayaName}}</span></button>
          <button type="button" class="btn btn-default addButton" data-character="squee">Add to <span class="addButton-name-squee" spellcheck="false" data-for="squee">{{squeeName}}</span></button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Editions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {{#each editions}}
              {{#if active}}
                <li><a href="#/">{{set}}</a></li>
              {{/if}}
            {{/each}}
            <li role="separator" class="divider"></li>
            {{#each editions}}
              {{#unless active}}
                <li class="set-selector" data-id="{{multiverse_id}}"><a href="#/">{{set}}</a></li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </li>
</script>
