<%= erb :_hb_templates %>

<%= erb :_navbar %>

<main class="container">

  <div class="form-group">
    <label for="user-search-input">Enter a card:</label>
    <input type="text" class="form-control" id="user-search-input">
  </div>

  <ul class="card-search-results list-group">
  </ul>

  <div class="row">
    <div class="trade-window left col-md-6">
      
    </div>
    <div class="trade-window right col-md-6">
      
    </div>
  </div>

</main>