<%= erb :_header %>

<div class="row">
  <main id="mainWrap" class="container-fluid">

    <div id="search-bar-holder">
      <div class="input-group input-group-lg" id="card-search-input">
        <span class="input-group-addon" id="sizing-addon1">Card:</span>
        <input spellcheck="false" autocorrect="off" type="text" class="form-control" id="user-search-input" placeholder="Lightning Bolt">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="hide-search-results-button">Hide</button>
        </span>
      </div>
    </div>

    <ul id="card-search-results" class="list-group">
    </ul>

    <div class="trade-window left" data-for="jaya">
      <div class="trade-window-header">
        <h3 class="title" data-for="jaya" contenteditable="true">Jaya Ballard</h3>
        <span class="info nobr h3">
          <span id="jaya-balance"></span> |
          $<span id="jaya-total">0.00</span> total
          <button class="btn btn-default clearBinButton">Clear</button>
        </span>
        <div class="clear"></div>
      </div>
      <ul class="cardList list-group" id="jaya-list" data-for="jaya">
      </ul>
    </div>

    <div class="trade-window right" data-for="squee">
      <div class="trade-window-header">
        <h3 class="title" data-for="squee" contenteditable="true">Squee Nabob</h3>
        <span class="info nobr h3">
          <button class="btn btn-default clearBinButton">Clear</button>
          $<span id="squee-total">0.00</span> total |
          <span id="squee-balance"></span>
        </span>
        <div class="clear"></div>
      </div>
      <ul class="cardList list-group" id="squee-list" data-for="squee">
      </ul>
    </div>

  </main>
</div>

<!-- template for user bin cards -->
<script id="card-template" type="text/x-handlebars-template">
  <%= erb :_user_bin_handlebars_template %>
</script>

<!-- template for search result cards -->
<script id="card-template-advanced" type="text/x-handlebars-template">
  <%= erb :_search_entry_handlebars_template %>
</script>