<%= erb :_navbar %>

<main class="container">

  <div class="form-group">
    <label for="user-search-input">Enter a card:</label>
    <input type="text" class="form-control" id="user-search-input">
  </div>

  <ul id="card-search-results" class="list-group">
  </ul>

  <div class="trade-window left">
    <div class="trade-window-header">
      <h3 class="title" data-for="jaya" contenteditable="true">Jaya Ballard</h3>
      <span class="info"><button>Clear</button><span id="jaya-total">$0.00</span></span>
      <div class="clear"></div>
    </div>
    <ul class="cardList list-group" id="jaya-list" data-character="jaya">
    </ul>
  </div>

  <div class="trade-window right">
    <div class="trade-window-header">
      <h3 class="title" data-for="squee" contenteditable="true">Squee Nabob</h3>
      <span class="info"><span id="jaya-total">$0.00</span><button>Clear</button></span>
      <div class="clear"></div>
    </div>
    <ul class="cardList list-group" id="squee-list" data-character="jaya">
    </ul>
  </div>

</main>

<%= erb :_hb_templates %>