<h1>mtg trade app</h1>

<main>

  <div class="card-search-holder">

    <input type="text">

  </div>

  <div class="trade-holder">
    <div class="trade-window left">
      
    </div>
    <div class="trade-window left">
      
    </div>
  </div>

</main>